@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    // scroll-snap-stop: normal;
    scroll-snap-type: mandatory;
}

a {
    text-decoration: none;
    color: #ffffff;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #fff
}

header {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.747), rgba(37, 36, 36, 0.424)), url(../img/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    // position: relative;

    nav {
        height: 10vh;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 25px 20px;
        // position: fixed;
        width: 100%;
        top: 0;

        #logo {
            color: #DBDBE3;
            font-size: 1.8rem;
        }

        ul {
            display: none;
            width: 100%;
            flex-direction: column;

            li {
                margin: 10px;
                width: 90%;
                text-align: center;
                list-style: none;

                a {
                    font-size: 1.2rem;



                }
            }
        }

        #nav-ul.show {
            display: flex;
            align-items: center;
            background: #0000003b;


        }


        .hamburger {
            background: transparent;
            border: none;
            color: #fff;
            font-size: 1.8rem;
            cursor: pointer;

            &:focus {
                outline: none;
            }
        }
    }

    .hero {
        height: 70vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px;

        h1 {
            font-size: 3rem;
            font-weight: 500;
            margin-bottom: 12px;

        }

        h3 {
            font-weight: 300;
        }

        .cta {
            margin-top: 30px;

            button {
                background: none;
                border: 1px solid #fff;
                color: #fff;
                padding: 10px 20px;
                font-size: 1.2rem;
            }

            a {
                padding-left: 10px;
                font-size: 1.1rem;
            }

            ;

        }

        #arrow-down {
            width: 80px;
            position: absolute;
            top: 80%;
            left: 80%;
        }


    }

}

main {
    .about {

        background: #000000;
        height: 50vh;
        padding-top: 60px;

        h2 {
            text-align: center;
            padding: 20px;
            font-weight: 400;
            font-size: 2rem;

        }

        p {
            padding: 0 30px;
            text-align: center;
            font-weight: 300;
        }
    }

    .technologies {
        height: 50vh;
        background: linear-gradient(180deg, #0D0B0B 0%, rgba(0, 0, 0, 0.71) 100%), url('../img/technologies.jpg');
        background-position: center;
        background-size: cover;

        h2 {
            text-align: center;
            padding-top: 30px;
            font-weight: 400;
        }

        .tech-stack {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-top: 50px;
            padding: 0 30px;
            text-align: center;

            h3 {
                font-weight: 500;
                margin-bottom: 20px;
            }

            li {
                list-style: none;
                font-weight: 200;
                margin-bottom: 10px;
            }
        }
    }

    .portfolio {
        height: 80vh;
        display: flex;
        flex-direction: column;
        // justify-content: center;
        background: black;
        background-size: cover;
        background-position: center;

        h2 {
            border-left: 3px solid #11FF1B;
            margin: 28px;
            padding-left: 10px;
            font-weight: 400;
        }

        .projects {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;

            .project {
                width: 168.81px;
                height: 148.33px;
                background: rgba(196, 196, 196, 0.22);
                border: 0.506251px solid rgba(255, 255, 255, 0.603);
                margin: 10px;
            }
        }
    }

    .contact {
        height: 30vh;
        background: #000;



        h2 {
            text-align: center;
            padding-top: 30px;
            font-weight: 400;
        }

        .icons {
            padding-top: 30px;
            height: 90px;

            a {
                margin-left: 30px;
            }
        }
    }
}

footer {
    height: 5vh;
    background: rgb(17, 14, 14);
    text-align: center;
    padding-top: 10px;
}